.cache/
.settings/
/Reports/
/bin/
/Include/config/
/Profiles/
.classpath
.settings/
*.prefs
/Libs/logging.log
/Temp/
.project
.classpath
.DS_Store
Thumbs.db
.idea/
*.iml
/Reports/
/Drivers/
Libs/External Libraries/
