.cache/
.settings/
/Test Cases/backup/
/Reports/
/Include/config/
.settings/
*.prefs
Libs/*
!Libs/internal/
!Libs/CustomKeywords.groovy
/Temp/
.project
.classpath
.settings/
bin/lib/*
!bin/lib/internal/
!bin/lib/CustomKeywords.class
/bin/
