.cache/
.settings/
/Test Cases/backup/
/Reports/
/Include/config/
/Profiles/
.project
.classpath
.settings/
*.prefs
Libs/*
!Libs/internal/
!Libs/CustomKeywords.groovy
/Temp/
.project
.classpath
.settings/
bin/lib/*
!bin/lib/internal/
!bin/lib/CustomKeywords.class
.DS_Store
Thumbs.db
.idea/
*.iml
/Reports/
/Drivers/
Libs/External Libraries/